<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zhaocaiapp.zc_app_android">

    <!-- 友盟集成权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--调起系统电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--更改系统设置权限-->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!--手机震动权限-->
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>


    <application
        android:name=".ZcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <!--定位-->
        <activity
            android:name=".views.home.LocationActivity"
            android:screenOrientation="portrait" />
        <!--定位-->
        <activity
            android:name=".views.home.newbieTaskActivity"
            android:screenOrientation="portrait" />
        <!--搜索-->
        <activity
            android:name=".views.home.SearchActivity"
            android:screenOrientation="portrait" />
        <!--搜索结果页-->
        <activity
            android:name=".views.home.SearchResulfActivity"
            android:screenOrientation="portrait" />
        <!--活动详情-->
        <activity
            android:name=".views.common.ActivityDetailActivity"
            android:screenOrientation="portrait" />


        <!--登录-->
        <activity
            android:name=".views.login.LoginActivity"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".views.login.ForgetPassActivity"
            android:screenOrientation="portrait" />
        <!--注册-->
        <activity
            android:name=".views.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--申请提现-->
        <activity
            android:name=".views.my.ApplyCashActivity"
            android:screenOrientation="portrait" />
        <!--邀请好友-->
        <activity
            android:name=".views.my.InviteActivity"
            android:screenOrientation="portrait" />
        <!--我的关注-->
        <activity
            android:name=".views.my.MyFollowAvtivity"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".views.my.SettingActivity"
            android:screenOrientation="portrait" />
        <!--验证手机号-->
        <activity
            android:name=".views.login.CheckPhoneActivity"
            android:screenOrientation="portrait" />
        <!--绑定手机号-->
        <activity
            android:name=".views.login.RegistPhoneActivity"
            android:screenOrientation="portrait" />
        <!--用户资料-->
        <activity
            android:name=".views.my.UserInfoActivity"
            android:screenOrientation="portrait" />
        <!--收支明细-->
        <activity
            android:name=".views.my.IncomeActivity"
            android:screenOrientation="portrait" />
        <!--管理提现账户-->
        <activity
            android:name=".views.my.ManageAccountActivity"
            android:screenOrientation="portrait" />
        <!--微信账户-->
        <activity
            android:name=".views.my.AccountActivity"
            android:screenOrientation="portrait" />
        <!--关于我们-->
        <activity
            android:name=".views.my.AboutUsActivity"
            android:screenOrientation="portrait" />
        <!--更换手机号-->
        <activity
            android:name=".views.my.ChangePhoneActivity"
            android:screenOrientation="portrait" />
        <!--消息列表-->
        <activity
            android:name=".views.my.MessageActivity"
            android:screenOrientation="portrait" />
        <!--个人中心-->
        <activity
            android:name=".views.activity.MyActivity"
            android:screenOrientation="portrait" />
        <!--添加个人标签-->
        <activity
            android:name=".views.my.AddLabelActivity"
            android:screenOrientation="portrait" />
        <!--绑定银行卡-->
        <activity
            android:name=".views.my.BindCardActivity"
            android:screenOrientation="portrait" />
        <!--封禁账号-->
        <activity android:name=".views.login.ClosureActivity"
            android:screenOrientation="portrait"/>




        <!--商家详情-->
        <activity
            android:name=".views.member.MemberDetailActivity"
            android:screenOrientation="portrait" />


        <!--注册友盟sdk需要的activity-->
        <!-- tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106660590" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- wechat callback-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--sina-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <!--注册友盟appkey和渠道id-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a4c6b93a40fa36a3900036f" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3a2be7cb8ebe1edc38b2eef221487361" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="yingyongbao" />
        <!--高德地图key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="aa4f768ae0c3930cafc268720afec5d7" />
        <service android:name="com.amap.api.location.APSService" />

    </application>

</manifest>